.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

.navbar__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-times, .fa-bars {
    font-size: 20px;
    cursor: pointer;
}

.navbar__logo img {
    height: 80px;
    width: 100px;
    object-fit: contain;
}

.navbar__logo img:hover {
    opacity: 0.5;
}

.navbar__menuIcon {
    display: none;
}

.navbar__items {
    /* background-color: white; */
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.navbar__items li {
    list-style-type: none;
}

.navbar__links, .navbar__cart {
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.navbar__cart .fa:hover {
    transform: rotate(360deg);
    transition: all 0.4s ease-out;
}

.navbar__links:hover {
    border-bottom: 4px solid #000;
    transition: all 0.2s ease-out;
    padding-top: 5px;
}

.navbar__cartLogo {
    position: relative;
}

.quan {
    margin-left: 3px;
    font-size: 15px;
}

@media (max-width: 900px) {
    .navbar__items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 10%;
        right: 100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .navbar__items.active {
        background: lightgray;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .navbar__items li {
        text-align: center;
        margin: 2rem;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }
    .navbar__links, .navbar__cart {
        color: black;
    }
    .navbar__links:hover {
        border-bottom: none;
        transition: all 0s ease-out;
        padding-top: 0px;
    }
    .navbar__items li:hover {
        background-color: rgba(255, 255, 255, 0.2);
        /* color: wheat; */
        transition: all 0.2s ease-out;
        cursor: pointer;
    }
    .navbar__menuIcon {
        display: block;
    }
}